<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ML API</title>
</head>

<body>
	<h1>Predict House Price</h1>
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}"method="post">
    	<input type="text" name="experience" placeholder="Avg. House Area" required="required" />
        <input type="text" name="test_score" placeholder="Avg. House Age" required="required" />
		<input type="text" name="interview_score" placeholder="Number of Bedrooms" required="required" />

        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

</body>
</html>
